.alert-danger{
    color:red;
}

.add-car-container {
    width: 95vw;
    display: flex;
    justify-content: flex-end;
    margin: 20px auto 10px;
  }
  
  .add-car-btn {
    padding: 14px 26px;
    font-size: 16px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s;
  
    &:hover {
      background-color: #218838;
      transform: translateY(-2px);
    }
  
    &:active {
      transform: scale(0.97);
    }
  }

  .warning-box {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    padding: 16px 20px;
    border-radius: 12px;
    font-size: 15px;
    line-height: 1.4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  
    strong {
      font-weight: bold;
    }
  
    &::before {
      content: '⚠️';
      font-size: 18px;
    }
}

.car-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position:relative;
  left: 2%;

  &.active{
      .action-btn {
          padding: 10px 16px;
          font-size: 14px;
          font-weight: bold;
          color: white;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          transition: background 0.3s ease, transform 0.2s;
          white-space: nowrap;
      
          &:hover {
            transform: translateY(-2px);
          }
      
          &:active {
            transform: scale(0.97);
          }
    
      
          &.edit {
    
            background-color: #ffc107;
            color: #212529;
      
            &:hover {
              background-color: #e0a800;
            }
          }
      
          &.status {
            background-color: #17a2b8;
      
            &:hover {
              background-color: #138496;
            }
          }
      
          &.delete {
            background-color: #dc3545;
      
            &:hover {
              background-color: #bd2130;
            }
          }

          &.appointment {
            background-color: #7c33fb;
      
            &:hover {
              background-color: #c31dff;
            }
          }
        }
      }

  &.inactive{
      .action-btn {
          padding: 10px 16px;
          font-size: 14px;
          font-weight: bold;
          color: white;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          transition: background 0.3s ease, transform 0.2s;
          white-space: nowrap;
      
          &:active {
            transform: scale(0.97);
          }
    
      
          &.edit {
    
            background-color: #5f7389;
      
            &:hover {
              background-color: #5f7389;
            }
          }
      
          &.status {
            background-color: #17a2b8;
      
            &:hover {
              background-color: #138496;
            }
          }
      
          &.delete {
            background-color: #5f7389;
      
            &:hover {
              background-color: #5f7389;
            }
          }

          &.appointment {
            background-color: #5f7389;
      
            &:hover {
              background-color: #5f7389;
            }
          }
        }
      }
  }

    .modal-overlay {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top : 0;
      left : 0;
      display:flex;
      background-color: rgba(0, 0, 0, 0.6);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

  .modal {
      background: white;
      padding: 30px;
      border-radius: 16px;
      max-height: 80%;
      width: 40%;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
      animation: fadeIn 0.3s ease;
      overflow: scroll;

    
      h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
      }
    
      .form-group {
        margin-bottom: 15px;
    
        label {
          display: block;
          margin-bottom: 6px;
          font-weight: bold;
        }
    
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 14px;
    
          &:focus {
            outline: none;
            border-color: #007bff;
          }
        }
      }
    
      .form-actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    
        .submit-btn {
          background-color: #28a745;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
    
          &:hover {
            background-color: #218838;
          }
        }
    
        .cancel-btn {
          background-color: #6c757d;
          color: white;
          padding: 10px 16px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
    
          &:hover {
            background-color: #5a6268;
          }
        }
      }
    }
    
    @keyframes fadeIn {
      from { opacity: 0; transform: scale(0.95); }
      to { opacity: 1; transform: scale(1); }
    }

    .custom-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    
      width: 100%;
      padding: 12px 16px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 15px;
      background-color: white;
      background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='%23666' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 16px center;
      background-size: 16px;
      cursor: pointer;
      transition: border-color 0.2s;
    
      &:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
      }
    }

    .appointment-form {
      background-color: #ffffff;
      width: 90vw;
      margin: 40px auto;
      padding: 30px 25px;
      border-radius: 18px;
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
    
      h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }
    
      .form-group {
        margin-bottom: 18px;
        text-align: left;
    
        label {
          display: block;
          margin-bottom: 6px;
          font-weight: bold;
          font-size: 14px;
          color: #444;
        }
    
        input,
        select {
          width: 90%;
          padding: 12px 14px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 10px;
          background-color: #fafafa;
          transition: all 0.2s ease;
    
          &:focus {
            outline: none;
            border-color: #007bff;
            background-color: #fff;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.15);
          }
        }

        input{
          width: 88.5%;
        }
  
      }

      .appointment-options{
    
      .submit-btn {
        margin-top: 10px;
        padding: 12px 22px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #28a745;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s ease;
    
        &:hover {
          background-color: #218838;
        } 
      }
      .cancel-btn {
          background-color: #6c757d;
          color: white;
          padding: 10px 16px;
          border: none;
          border-radius: 8px;
          margin-left: 10px;
          cursor: pointer;
    
          &:hover {
            background-color: #5a6268;
          }
        }
    }
  }
  
  .time-picker{
      padding: 14px 26px;
      font-size: 16px;
      font-weight: bold;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
      transition: background 0.3s ease, transform 0.2s;
      margin-bottom:20px;
    
      &:hover {
        background-color: #218838;
        transform: translateY(-2px);
      }
    
      &:active {
        transform: scale(0.97);
      }
  }
